<div class="app" id="app">
  <%= render "layouts/main_slider" %>
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= render "layouts/home_categories" %>
      </div>
      <div class="col-10">
        <div class="grid">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="text-danger text-uppercase fw-bold"><%= t("products") %></h1>
          <%= link_to "Thêm sản phẩm Nam", new_product_path(name: "Nam")%>
          <%= link_to "Thêm sản phẩm Nữ", new_product_path(name: "Nữ")%>
          <div class="header__mid w-auto">
              <%= form_tag(products_path, method: :get) do %>
                <%= text_field_tag :name %>
                <%= submit_tag "Search",class: "header_btn_search"  %>
              <% end %>
          </div>
        </div>
          <div class="grid__row">
            <% @products.each do |product| %>
              <div class="grid__column-1-5">
                  <%= link_to product, class: "text-decoration-none" do %>
                    <div class="home-product-item">
                      <%= image_tag(product.image, alt: t("product_item"), class: "home_product_item_image") %>
                      <h4 class="home-product-item__name"><%= product.name %></h4>
                      <div class="home-product-item__price">
                        <span class="home-product-item__price-current"><%= product.price %></span>
                      </div>
                      <div class="home-product-item__action">
                        <div class="home-product-item__rating">
                        <% if product.rating > 0 %>
                          <% for i in (1..product.rating) do %>
                            <i class="home-product-item__star--gold fas fa-star"></i>
                          <% end %>
                          <% for i in (1..(5 - product.rating)) do %>
                            <i class="home-product-item__star fas fa-star"></i>
                          <% end %>
                        <% else %>
                          <% for i in (1..5 ) do %>
                            <i class="home-product-item__star fas fa-star"></i>
                          <% end %>
                        <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
              </div>
            <% end %>
          </div>
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>
