<div class="app" id="app">
  <%= render "layouts/main_slider" %>
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= render "layouts/home_categories" %>
      </div>
      <div class="col-10">
        <div class="grid">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="text-danger text-uppercase fw-bold"><%= t("products") %></h1>
          <div class="header__mid w-auto">
              <%= render "static_pages/form_search_products"%>
          </div>
        </div>
          <div class="grid__row">
            <% if !@products.empty?%>
            <%= render(partial: "static_pages/display_product", collection: @products, as: :product) %>
            </div>
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          <%else%>
            <%= "Không tìm thấy sản phẩm"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
