<% provide :title, t("log_in") %>
<div class="row justify-content-center p-5 m-5 container_login">
  <div class="col-md-6 col-md-offset-3 login__form">
    <h1 class="text-black fw-medium"><%= t("log_in") %></h1>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email, class: "fs-4 mt-4 mb-2" %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label t("password"), class: "fs-4 mt-4 mb-2" %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.submit t("log_in"), class: "btn btn-primary mt-4 px-5 py-3 fs-4" %>
    <% end %>
  </div>
</div>
