<!-- Footer -->
<div class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="col-6 p_left">
                <h3 class="footer-label"><%= t("about_us") %></h3>
                <div class="footer-link">
                    <a href=""><%= t("clothing_and_fashion_accessories_shop") %></a>
                    <a href=""> <%= t("address") %>: 16 Ly Thuong Kiet</a>
                </div>
            </div>
            <div class="col-6 p_left">
                <h3 class="footer-label"><%= t("contact") %></h3>
                <div class="footer-link">
                    <a href=""> <%= t("phone") %>: 0889152558</a>
                    <a href=""> <%= t("email") %>: shopquanao@gmail.com</a>
                </div>
            </div>
            <div class="footer-footer">
            </div>
        </div>
    </div>
</div>
