<!-- Header -->
<div class="header__fixed">
  <div class="header">
    <div class="grid">
      <div class="header__content">
        <div class="header__left">
          <%= link_to root_path, class: "text-decoration-none" do %>
            <%= image_tag("logos/logo7.png", :alt => "Header logo", :class => "header__left-logo") %>
          <% end %>
        </div>
        <div class="fs-3">
            <%= link_to "En", locale:"en" %> |
            <%= link_to "Vi", locale:"vi" %>
          </div>
        <div class="header__right">
          <%= link_to cart_index_path, class: "text-decoration-none" do %>
            <%= image_tag("logos/logo2.png", :alt => "Cart", id: "cart", :class => "user_menu_logo me-3") %>
          <% end %>
          <% if logged_in? %>
            <%= image_tag("logos/account.png", :alt => "User menu", id: "account", :class => "user_menu_logo") %>
          <% else %>
            <li><%= link_to t("log_in"), login_path %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav -->
  <div class="nav">
    <ul class="nav-menu">
      <li class="nav-menu-item text-uppercase"><%= t("about_us") %></li>
      <li class="nav-menu-item text-uppercase"><%= t("products") %></li>
      <li class="nav-menu-item text-uppercase"><%= t("contact") %></li>
      <li class="nav-menu-item text-uppercase"><%= t("support") %></li>
    </ul>
  </div>
</div>
