<!-- user menu -->
<% if logged_in? %>
    <div class="user-menu " id="user-menu">
        <div class="btn-close">
            <%= image_tag("icon/close.png", :alt => "Close", :id => "btnClose") %>
        </div>
        <div class="user-menu-profile">
            <%= image_tag("icon/avatar1.png", :alt => "Avater user") %>
            <Span class="user-name"><%= @current_user.name %></Span>
        </div>
        <hr>
        <div class="user-menu-list">
            <div class="user-menu-list-item">
                <%= image_tag("icon/home.png", :alt => "") %>
                <span><%= t("home") %></span>
            </div>
            <hr>
            <%= link_to orders_path, class: "text-decoration-none" do %>
                <div class="user-menu-list-item">
                    <%= image_tag("icon/list.PNG", :alt => "") %>
                    <span><%= t("my_order") %></span>
                </div>
            <% end %>
            <hr>
            <% if current_user.is_admin %>
                <%= link_to admin_orders_path, class: "text-decoration-none" do %>
                    <div class="user-menu-list-item">
                        <%= image_tag("icon/favourite.PNG", :alt => "") %>
                        <span><%= t("orders_management") %></span>
                    </div>
                <% end %>
            <hr>
            <% end %>
            <div class="user-menu-list-item">
                <%= image_tag("icon/logout.PNG", :alt => "") %>
                <span><%= link_to t("log_out"),logout_path, data: { "turbo-method": :delete } %></span>
            </div>

        </div>
    </div>
<% end %>
    <!-- end user menu -->
