<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="application">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/user_menu" %>

    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>
